:root {
    --white: #eceff4;
    --whitish: #e5e9f0;
    --grayish: #81a1c1;
    --gray: #2e3440;
    --greenish: #a3be8c;
    --redish: #bf616a;
    --bluish: #434c5e;
    --blue: #3b4252;
}

body {
    background-color: var(--whitish);
    color: var(--gray);
    font-family: sans-serif;
    text-align: center;
    margin: 1% 1%;
}

header {
    border: hidden;
    border-radius: 5px;
    padding: 0;
    background-color: var(--grayish);
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 350%;
    color: var(--white);
}

main {
    border: hidden;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--white);
}

#content {
    padding: 2.5% 5%;
}

.flash-info {
    padding: 8px;
    background-color: var(--greenish);
    color: var(--white);
}

.flash-error {
    padding: 8px;
    background-color: var(--redish);
    color: var(--white);
}

#nav {
    list-style: none;
    text-align: center;
    border: hidden;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bluish);
}

#nav li {
    display: inline-block;
}

@media screen and (max-width: 720px) {
    #nav li {
        display: initial;
        float: none;
    }
}

#nav li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: var(--blue);
}

input {
    background-color: var(--bluish);
    border: hidden;
    border-radius: 5px;
    color: var(--white);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input:hover {
    background-color: var(--blue);
}

select {
    background-color: var(--bluish);
    border: hidden;
    border-radius: 5px;
    color: var(--white);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p a, p a:link, p a:visited, p a:hover, p a:active {
    color: var(--gray);
    font-style: italic;
}

aside {
    float: right;
    text-align: left;
}
