body {
    background-color: #e5e9f0;
    color: #2e3440;
    font-family: sans-serif;
    text-align: center;
}

header {
    border: hidden;
    border-radius: 5px;
    padding: 0;
    background-color: #81a1c1;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 350%;
    color: #eceff4;
}

main {
    border: hidden;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eceff4;
}

.flash-info {
    padding: 8px;
    background-color: #a3be8c;
    color: #eceff4;
}

.flash-error {
    padding: 8px;
    background-color: #bf616a;
    color: #eceff4;
}

#nav {
    list-style: none;
    text-align: center;
    border: hidden;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #434c5e;
}

#nav li {
    display: inline-block;
}

@media screen and (max-width: 720px) {
    #nav li {
        display: initial;
        float: none;
    }
}

#nav li a {
    display: block;
    color: #eceff4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #3b4252;
}

input {
    background-color: #434c5e;
    border: hidden;
    border-radius: 5px;
    color: #eceff4;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

select {
    background-color: #434c5e;
    border: hidden;
    border-radius: 5px;
    color: #eceff4;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p a, p a:link, p a:visited, p a:hover, p a:active {
    color: #2e3440;
    font-style: italic;
}

aside {
    float: right;
    text-align: left;
}

pre.bash {
    background-color: black;
    color: white;
    font-size: medium; 
    font-family: Consolas;
    width: 100%;
    display: inline-block;
}
