<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>PyBell - {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>PyBell</h1>
        {% block header %}{% endblock %}
    </header>
    <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </p>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>
