{% extends "base_after_login.html" %}
{% block title %}Manage bell{% endblock %}

{% block content %}
  {% if state %}
    <h2>The bell s currently active.</h2>
    <small>Next run: {{ next_run }}</small>
  {% else %}
    <h2>The bell s currently inactive.</h2>
  {% endif %}
  <form method="post" action="{{ url_for('manage_scheduler') }}" enctype="multipart/form-data">
    {{ form1.hidden_tag() }}
    <p>
      {% for option in form1.state %}
        {{ option() }}
        {{ option.label }}
      {% endfor %}
    </p>
    <p>
      {{ form1.submit() }}
    </p>
  </form>
  <h2>You can also just play a sound directly.</h2>
  <form method="post" action="{{ url_for('play_instant') }}" enctype="multipart/form-data">
    {{ form2.hidden_tag() }}
    <p>
      {{ form2.sound() }}
    </p>
    <p>
      {{ form2.submit() }}
    </p>
  </form>
{% endblock %}
