{% extends "base_after_login.html" %}
{% block title %}Home{% endblock %}

{% block content %}
	<h2>Welcome to the ultimate school bell managing program, PyBell. ;-)</h2>
	<h3>What's this?</h3>
	<p>
		It is a program capable of managing the school bell according to the bell times.
		For test purposes there is an option to play a selected sound directly.
		However, the biggest advantage of using PyBell is the power of remote
		access. You can upload new schedules (bell times) or sounds without having to
		touch the computer connected to the school radio system. Perhaps, sometimes
		you want to switch between preexisting schedules. It can do that too.
	</p>
	<h3>Source</h3>
	<p>
		The source code is available on GitHub.
		<a href="https://github.com/Zotyamester/PyBell">
			https://github.com/Zotyamester/PyBell
		</a>
	</p>
{% endblock %}
