{% extends "base_after_login.html" %}
{% block title %}Upload{% endblock %}

{% block main %}
	<h2>Select a soundfile to upload.</h2>
	<form method="post" action="/upload_sound" enctype="multipart/form-data">
        {{ form1.hidden_tag() }}
		<p>
			{{ form1.file() }}
		</p>
		<p>
			{{ form1.submit() }}
		</p>
	</form>
	<h2>Select a configfile to upload.</h2>
	<form method="post" action="/upload_config" enctype="multipart/form-data">
        {{ form2.hidden_tag() }}
		<p>
			{{ form2.file() }}
		</p>
		<p>
			{{ form2.submit() }}
		</p>
	</form>
{% endblock %}
